{% extends "layout.html" %}

{% block title %}
    {% if stock_name %}
        Quoted
    {% else %}
        Quote
    {% endif %}
{% endblock %}

{% block main %}
    {% if stock_name %}
        <p>A share of {{ stock_name }} ({{ stock_symbol }}) costs {{ stock_price }}.</p>
    {% else %}
    <form action="/quote" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Quote</button>
    </form>
    {% endif %}
{% endblock %}
